@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700&family=Lobster&family=Poppins:wght@100;300;400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --color-primary: #F3F3F3;
    --color-secondary: rgb(27, 25, 48);
    --color-nav-underline: black;
    --font-primary: 'Inter', sans-serif;
    --font-secondary: 'Poppins', sans-serif;
    --font-fantasy: 'Lobster', cursive;
    --border-seprator: 1px solid rgb(224, 224, 224);
    --color-gradient-primary: linear-gradient(68.4deg, rgb(34, 0, 255), rgb(22, 2, 91) 100.2%);
    --border-radius: 0.5em;
    --font-p-small: 0.8rem;
    --font-h-small: 1.2rem;
    --font-size-regular: 1rem;
}

body {
    font-family: var(--font-primary);
    overflow-x: hidden;
    font-size: var(--font-p-small);
}

a {
    text-decoration: none;
    color: black;
}


/*=====================
    HOME PAGE STYLES
=====================*/



/*------------------------
 Header and navbar Styles 
 -----------------------*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: var(--border-seprator);
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    padding: 0.5em;
    z-index: 999;
}

.sidebar-opener,
.sidebar-closer {
    font-size: 1.2rem;
    position: absolute;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    padding: 0.5em;
}

.sidebar-opener {
    right: 0.8em;

}

.sidebar-closer {
    top: 0.2em;
    font-size: 2.2rem;
    left: 0.5em;
}

.sidebar-backdrop {
    display: none;
    width: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.8);
}

.nav-items {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    list-style-type: none;
    padding: 6em 1.5em;
    background-color: #F3F3F3;
    width: 60%;
    transform: translateX(100%);
    transition: all 0.5s;
    z-index: 999;
    font-size: 1.3rem;
}

.nav-logo {
    font-family: var(--font-fantasy);
    font-size: 2rem;
    margin-left: .5em;
}

.nav-item {
    position: relative;
    font-size: var(--font-h-small);
    width: 100%;
    margin: 0.8em 0.5em;
}

.nav-link {
    display: block;
}

.sidebar-btns {
    position: absolute;
    width: 100%;
    gap: 1em;
    bottom: 1em;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.nav-btn {
    width: 90%;
    border: 2px solid black;
    border-radius: var(--border-radius);
    padding: 1em;
    font-size: var(--font-size-regular);
    font-weight: bold;
    text-align: center;
}

.nav-item::before {
    content: '';
    width: 0%;
    bottom: -2px;
    border-radius: 999px;
    height: 2px;
    background-color: var(--color-nav-underline);
    position: absolute;
    transition: all 0.3s;
}

.nav-item:hover::before {
    content: '';
    width: 13%;
    bottom: -2px;
    height: 2px;
    background-color: var(--color-nav-underline);
    position: absolute;
}

.active-nav-item::before {
    content: '';
    width: 13%;
    height: 2px;
    background-color: var(--color-nav-underline);
    position: absolute;
}

/*----------------
 Home Hero Styles 
 -----------------*/

#hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 81vh;
    padding: 1em;
    text-align: center;
}

#hero h4 {
    color: gray;
    font-size: 1.2rem;
    font-family: var(--font-fantasy);
    margin: .5em 0;
    font-weight: 400;
}

#hero h1 {
    font-size: 1.5rem;
}

#hero p {
    color: gray;
    font-size: 0.8rem;
    margin: 1em 0;
}

.hero-img-container {
    position: relative;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.hero-img {
    height: 100%;
    object-fit: cover;
}

.hero-img-back {
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    z-index: -1;
    border-radius: 500px 500px 0 0;
    top: 50px;
}

.btn {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 1em 4em;
    border-radius: var(--border-radius);
    font-family: var(--font-primary);
    cursor: pointer;
}

.hero-info .btn {
    background-color: black;
    color: white;
    font-weight: bold;
    display: inline-block;
    margin-top: 1em;
    width: fit-content;
    font-size: var(--font-p-small);
}

.hero-statics {
    display: none;
}

.gradient-bg {
    background-image: var(--color-gradient-primary);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}


/*----------------
 Home features Styles 
 -----------------*/

#features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 170px;
    justify-items: center;
    gap: 1em;
    width: 100%;
    padding: 1em;
    margin: 1em 0;
}

.feature {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90%;
    border-radius: 15px;
    text-align: center;
    padding: 1em 2em;
    border: 1px solid gray;
    overflow: hidden;
}

.feature p {
    font-size: var(--font-p-small);
}

.feature-icon {
    font-size: 2rem;
}

.feature-header {
    margin-bottom: 0.5em;
    font-size: var(--font-h-small);
}


/*-----------------------------
 Home featured products Styles 
 ------------------------------*/

#featured-products {
    width: 100%;
    text-align: center;
    padding: 1em;
    margin: 1em 0;
}


/*-----------------------------
    Slider Products styles
 ------------------------------*/

.slider-container {
    height: 450px;
    width: 90%;
    display: flex;
    gap: 1.5em;
    margin: 0 auto;
    margin-top: 1em;
    padding: 1em;
    border: 1px solid gray;
    border-radius: 15px 15px 0 0;
}

.slider-next,
.slider-prev {
    display: none;
}

.swiper-pagination-bullet {
    background-color: black;
    opacity: 0.5;
}

.swiper-pagination-bullet-active {
    background-color: black;
    opacity: 1;
}

.slider-product {
    width: 300px;
    height: 400px;
    padding: 1em;
    border-radius: 15px;
    box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    transition: all 0.3s;
    cursor: pointer;
}

.slider-product:hover {
    box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.4);
}

.product-brand {
    font-size: var(--font-h-small);
}

.product-img {
    width: 100%;
    height: 65%;
    object-fit: contain;
    border-radius: 10px;
    border: none;
    background-color: gray;
}

.product-title {
    font-size: var(--font-size-regular);
}

.product-description {
    height: 31%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    line-height: 1.4rem;
}


.product-price {
    font-size: var(--font-h-small);
}

.add-to-cart-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 1em;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.5);
    transition: all 0.3s;
}

.add-to-cart-btn:hover {
    background-color: black;
    color: white;
}



/*-----------------------------
    Home banners styles
 ------------------------------*/

#banner {
    margin: 1em 0;
    height: 40vh;
    background-image: url('/images/banners/bannerOne.jpg');
    background-position: center;
    background-size: cover;
    padding: 2em;
    position: relative;
    z-index: 0;
}

#banner::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

.banner-info {
    height: 100%;
    color: white;
    position: relative;
    z-index: 10;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.banner-info h4 {
    text-align: center;
    font-family: var(--font-fantasy);
    color: white;
    font-size: 1.5rem;
}

.banner-info h2 {
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
}

.banner-info h2 span {
    color: red;
    text-transform: uppercase;
}

.banner-info button {
    border: 1px solid white;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    transition: all 0.3s;
}

.banner-info button:hover {
    background-color: white;
    color: black;
    text-transform: uppercase;
}

/* multiple banners */

#multiple-banners {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    padding: 1em;
}

.sm-banner {
    height: 40vh;
    background-position: center;
    background-size: 145%;
    position: relative;
    z-index: 0;
    transition: all 0.6s;
    overflow: hidden;
}


.sm-banner::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.3s;
}

.sm-banner:hover::before {
    background-color: rgba(0, 0, 0, 0.8);
}

.sm-banner img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: -10;
    transition: all 0.5s;
}

.sm-banner:hover img {
    width: 105%;
    height: 105%;
}


.sm-banner-info {
    position: relative;
    color: white;
    z-index: 99;
    padding: 2em;
}

.sm-banner-info h4 {
    font-family: var(--font-fantasy);
    font-size: var(--font-size-regular);
}

.sm-banner-info .btn {
    margin-top: 1em;
    padding: 1em;
}

.sm-banner .btn {
    border: 1px solid white;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    transition: all 0.3s;
}

.sm-banner .btn:hover {
    background-color: white;
    color: black;
    text-transform: uppercase;
}

.sm-banner:nth-child(1) {
    grid-area: one;
}

.sm-banner:nth-child(2) {
    grid-area: two;
}

.sm-banner:nth-child(3) {
    grid-area: three;

}

.sm-banner:nth-child(4) {
    grid-area: four;

}

.sm-banner:nth-child(5) {
    grid-area: five;

}

/*-----------------------------
  Home New Arrival styles
 ------------------------------*/

#new-arrival {
    width: 100%;
    text-align: center;
    padding: 1em;
    margin: 1em 0;
}

/*-----------------------------
    Footer styles
 ------------------------------*/

footer {
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: column;
    color: white;
    padding: 2em 2em;
    line-height: 1.2em;
    text-align: center;
    overflow: hidden;
}

.footer-logo {
    font-size: 1.5rem;
    margin-bottom: 1em;
    color: white;
    font-family: var(--font-fantasy);
}

.footer-col {
    margin: 0.5em 0;
}

.footer-col h3 {
    margin: 1em 0;
}


.footer-socials {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    /* gap: 0.5em; */
}

.footer-socials a,
.footer-col a {
    color: white;
}

.footer-col a {
    padding: 0.5em;
    transition: all 0.3s;
    opacity: 0.5;
}

.footer-col a:hover {
    opacity: 1;
}

#facebook:hover {
    color: #4267B2;
}

#twitter:hover {
    color: #1DA1F2;
}

#instagram:hover {
    color: #C13584;
}

#pinterest:hover {
    color: #E60023;
}

#youtube:hover {
    color: #FF0000;
}

#install-app .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    padding: 1em;
    width: 100%;
    margin: 1em 0;
    border: 1px solid white;
}

#install-app .btn:hover {
    background-color: white;
    color: gray;
}

.credit {
    line-height: 1.5;
}

.credit a {
    color: white;
}



@media only screen and (min-width:768px) {
    a {
        text-decoration: none;
        color: black;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1em 6em;
        border-bottom: var(--border-seprator);
        position: sticky;
        top: 0;
        right: 0;
        left: 0;
    }

    .nav-items {
        display: flex;
        list-style-type: none;
        gap: 1.5em;
        font-size: 1.3rem;
    }

    .nav-logo {
        font-family: var(--font-secondary);
        font-size: 2.5rem;
    }

    .nav-item {
        position: relative;
        font-size: 1.3rem;
    }

    .nav-item::before {
        content: '';
        width: 0%;
        bottom: -2px;
        border-radius: 999px;
        height: 2px;
        background-color: var(--color-nav-underline);
        position: absolute;
        transition: all 0.3s;
    }

    .nav-item:hover::before {
        content: '';
        width: 60%;
        bottom: -2px;
        height: 2px;
        background-color: var(--color-nav-underline);
        position: absolute;
    }

    .active-nav-item::before {
        content: '';
        width: 60%;
        height: 2px;
        background-color: var(--color-nav-underline);
        position: absolute;
    }

    .hero {
        display: flex;
        height: 89vh;
        overflow: hidden;
    }

    .hero h4 {
        color: gray;
        font-size: 1.2rem;
        font-family: var(--font-secondary);
        margin: .5em 0;
        font-weight: 300;
    }

    .hero h1 {
        font-size: 3rem;
        font-family: var(--font-primary);
    }

    .hero p {
        font-family: var(--font-primary);
        color: gray;
        margin: 1em 0;
    }

    .hero-img-container {
        order: 2;
        position: relative;
        margin-top: 2em;
        width: 50%;
        height: 85%;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }

    .hero-img-back {
        width: 60%;
        height: 85%;
        background-color: black;
        position: absolute;
        z-index: -1;
        border-radius: 500px 500px 0 0;
        top: 100px;
    }

    .btn {
        border: none;
        outline: none;
        background-color: transparent;
        padding: 1em 4em;
        border-radius: 0.5em;
        font-family: var(--font-primary);
        cursor: pointer;
    }

    .hero-info button {
        background-color: black;
        color: white;
        font-weight: bold;
        margin-top: 1em;
    }

    #multiple-banners {
        display: grid;
        grid-template-areas: "one one one two two two"
            "one one one two two two"
            "three four four four four five"
            "three four four four four five"
        ;
        gap: 1em;
        padding: 0 3em;
        width: 100%;
        margin: 1em;
    }

    /*------------
    slider styles
    ------------- */

    .slider-next,
    .slider-prev {
        color: black;
        opacity: 0.5;
        transition: all 0.3s;
    }

    .slider-next:hover,
    .slider-prev:hover {
        opacity: 1;
    }
}

/*=====================
    STORE PAGE STYLES
=====================*/

main {
    min-height: 100vh;
}

#store-header {
    display: flex;
    width: 100%;
    padding: 1em;
    gap: 1em;
    flex-direction: column;
}

#search-bar {
    flex: 1;
    padding: 1em 2.2em;
    border-radius: 15px;
    border: none;
    background-color: #F3F3F3;
    position: relative;
}

.search-filter {
    display: flex;
    gap: 1em;
    padding: 0 em;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.search-icon {
    position: absolute;
    z-index: 5;
    left: 0.5em;
    opacity: 0.5;
}

#filter-products {
    font-size: 12px;
    border: none;
    outline: none;
    border-radius: 15px;
    background-color: #F3F3F3;
    text-align: center;
    width: 50%;
}

#filter-products:focus {
    outline: 2px solid black;
}

.types-container {
    width: 100%;
    list-style-type: none;
    gap: 1em;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, minmax(70px, 1fr));
}

.type-btn {
    border: 1px solid white;
    color: black;
    text-decoration: none;
    border-radius: 7px;
    text-align: center;
    padding: 0.5em;
    cursor: pointer;
    transition: all 0.3s;
    font-size: var(--font-p-small);
}

.active-type {
    background-color: var(--color-secondary);
    border: 1px solid var(--color-secondary);
    color: white !important;
    cursor: default;
}

.type-btn:hover {
    border: 1px solid var(--color-secondary);
}