@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat&family=Roboto:wght@100;300;400;700&family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #F3F3F3;
    --color-secondary: rgb(204, 31, 0);
    --color-nav-underline: black;
    --font-primary: 'Raleway', sans-serif;
    --font-secondary: 'Lobster', cursive;
    --border-seprator: 1px solid rgb(224, 224, 224);
    --color-gradient: linear-gradient(68.4deg, rgb(34, 0, 255), rgb(22, 2, 91) 100.2%);
    --border-radius-btns: 0.5em;
    --font-size-small: 0.8rem;
    --font-size-large: 1.2rem;
}

body {
    font-family: var(--font-primary);
}

a {
    text-decoration: none;
    color: black;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: var(--border-seprator);
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    padding: 0.5em;
    z-index: 999;
}

.sidebar-opener,
.sidebar-closer {
    margin-right: 1em;
    font-size: 1.5rem;
    position: absolute;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    padding: 0.5em;
}

.sidebar-opener {
    right: 0;
}

.sidebar-closer {
    top: 0.2em;
    font-size: 2.8rem;
    left: 0.2em;
}

.sidebar-backdrop {
    display: none;
    width: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.8);
}

.nav-items {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    list-style-type: none;
    padding: 6em 1.5em;
    background-color: #F3F3F3;
    width: 60%;
    transform: translateX(100%);
    transition: all 0.5s;
    z-index: 999;
    font-size: 1.3rem;
}

.nav-logo {
    font-family: var(--font-secondary);
    font-size: 2rem;
    margin-left: .5em;
}

.nav-item {
    position: relative;
    font-size: 1.3rem;
    width: 100%;
    margin: 0.8em 0.5em;
}

.nav-link {
    display: block;
}

.sidebar-btns {
    position: absolute;
    width: 100%;
    gap: 1em;
    bottom: 1em;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.nav-btn {
    width: 90%;
    border: 2px solid black;
    border-radius: var(--border-radius-btns);
    padding: 1em;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

.nav-item::before {
    content: '';
    width: 0%;
    bottom: -2px;
    border-radius: 999px;
    height: 2px;
    background-color: var(--color-nav-underline);
    position: absolute;
    transition: all 0.3s;
}

.nav-item:hover::before {
    content: '';
    width: 13%;
    bottom: -2px;
    height: 2px;
    background-color: var(--color-nav-underline);
    position: absolute;
}

.active-nav-item::before {
    content: '';
    width: 13%;
    height: 2px;
    background-color: var(--color-nav-underline);
    position: absolute;
}

#hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 89vh;
    padding: 1em;
    text-align: center;
}

#hero h4 {
    color: gray;
    font-size: 1.2rem;
    font-family: var(--font-secondary);
    margin: .5em 0;
    font-weight: 300;
}

#hero h1 {
    font-size: 1.5rem;
}

#hero p {
    color: gray;
    font-size: 0.8rem;
    margin: 1em 0;
}

.hero-img-container {
    position: relative;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.hero-img {
    height: 100%;
    object-fit: cover;
}

.hero-img-back {
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    z-index: -1;
    border-radius: 500px 500px 0 0;
    top: 50px;
}

.btn {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 1em 4em;
    border-radius: var(--border-radius-btns);
    font-family: var(--font-primary);
    cursor: pointer;
}

.hero-info button {
    background-color: black;
    color: white;
    font-weight: bold;
    margin-top: 1em;
    width: 100%;
}

.hero-statics {
    display: none;
}

.gradient-bg {
    background-image: var(--color-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

#features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 150px;
    justify-items: center;
    gap: 1em;
    width: 100%;
    padding: 1em;
    margin: 1em 0;
}

.feature {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    border-radius: 15px;
    text-align: center;
    padding: 1em 2em;
    border: 1px solid gray;
}

.feature p {
    font-size: var(--font-size-small);
}

.feature-icon {
    font-size: 2rem;
}

.feature-header {
    margin-bottom: 0.5em;
}

@media only screen and (min-width:768px) {
    a {
        text-decoration: none;
        color: black;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1em 6em;
        border-bottom: var(--border-seprator);
        position: sticky;
        top: 0;
        right: 0;
        left: 0;
    }

    .nav-items {
        display: flex;
        list-style-type: none;
        gap: 1.5em;
        font-size: 1.3rem;
    }

    .nav-logo {
        font-family: var(--font-secondary);
        font-size: 2.5rem;
    }

    .nav-item {
        position: relative;
        font-size: 1.3rem;
    }

    .nav-item::before {
        content: '';
        width: 0%;
        bottom: -2px;
        border-radius: 999px;
        height: 2px;
        background-color: var(--color-nav-underline);
        position: absolute;
        transition: all 0.3s;
    }

    .nav-item:hover::before {
        content: '';
        width: 60%;
        bottom: -2px;
        height: 2px;
        background-color: var(--color-nav-underline);
        position: absolute;
    }

    .active-nav-item::before {
        content: '';
        width: 60%;
        height: 2px;
        background-color: var(--color-nav-underline);
        position: absolute;
    }

    .hero {
        display: flex;
        height: 89vh;
        overflow: hidden;
    }

    .hero h4 {
        color: gray;
        font-size: 1.2rem;
        font-family: var(--font-secondary);
        margin: .5em 0;
        font-weight: 300;
    }

    .hero h1 {
        font-size: 3rem;
        font-family: var(--font-primary);
    }

    .hero p {
        font-family: var(--font-primary);
        color: gray;
        margin: 1em 0;
    }

    .hero-img-container {
        order: 2;
        position: relative;
        margin-top: 2em;
        width: 50%;
        height: 85%;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }

    .hero-img-back {
        width: 60%;
        height: 85%;
        background-color: black;
        position: absolute;
        z-index: -1;
        border-radius: 500px 500px 0 0;
        top: 100px;
    }

    .btn {
        border: none;
        outline: none;
        background-color: transparent;
        padding: 1em 4em;
        border-radius: 0.5em;
        font-family: var(--font-primary);
        cursor: pointer;
    }

    .hero-info button {
        background-color: black;
        color: white;
        font-weight: bold;
        margin-top: 1em;
    }
}